<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- ensure only the sources defined below are used -->
    <add key="DDS" value="\\ATOOBLD00002DEV.product.atotnet.gov.au\nuget\DDS" />
    <add key="Public" value="\\ATOOBLD00002DEV.product.atotnet.gov.au\nuget\Public" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
</configuration>
